<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body style="margin: 0; padding: 15px; background: linear-gradient(30.56deg, #F1F1F1 0%, #FFFFFF 100%);  font-family: 'Arial', sans-serif;">
<div class="container" style=" margin: 0 auto;">

	<!--Div c информацией-->
	<div class="main-info" style="padding: 15px;background-color: #FFFFFF;box-sizing: border-box;">
		<div class="name">
			<p>
				Добрый день! <br>
				Новое резюме.
				<br>
				<br>
				Имя: <span th:text="${cv.name}"></span> <br>
				Ссылка на реюме: <a th:href="${cv.fileUrl}" download>link</a> <br>
			</p>
		</div>
	</div>

</div>
</body>
</html>