<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body style="margin: 0; padding: 15px; background: linear-gradient(30.56deg, #F1F1F1 0%, #FFFFFF 100%);  font-family: 'Arial', sans-serif;">
<div class="container" style=" margin: 0 auto;">
	<header class="header" style="width: 100%;text-align: center; background-color: #FFFFFF; border-radius: 10px 10px 0 0; padding: 15px; box-sizing: border-box;">
		<a href="#" style="text-decoration: none;">
			<img src="https://itstep-career-center.s3.eu-north-1.amazonaws.com/email/logo-block.png" alt="" style="height: 190px;">
			<div class="name">
				<h2 style="color: #000000;font-weight: bold;margin: 0;font-size: 24px;">Центр карьеры</h2>
				<p style="color: #676767;margin: 0;font-size: 12px;">Компьютерной академии ШАГ</p>
			</div>
		</a>
	</header>
	<!--Div c информацией-->
	<div class="main-info" style="padding: 15px;background-color: #FFFFFF;box-sizing: border-box;">
		<div class="name">
			<p>
				<span th:text="${entry.firstName}"></span> <span th:text="${entry.lastName}"></span>, подтверждаем заявку на консутльтацию!>
				<br>
				Время: <span th:text="${#temporals.format(entry.assignedAt, 'dd.MM.yyyy HH:mm')}"></span>
				<br>
				Кабинет: 206
				<br>
				Номер для связи: +375 29 775-21-94
			</p>
		</div>
		<a href="#">https://itstep.by/about-academy/</a>
	</div>
	<!--        -->
	<footer class="footer" style="background-color: #282828;color: #FFFFFF;text-align: center;padding: 15px;border-radius: 0 0 10px 10px;box-sizing: border-box;">
		<div class="col-md-4 col-lg-4 social-footer">
			<a href="#"><i  class="social-icon facebook" style="background-image: url(https://itstep-career-center.s3.eu-north-1.amazonaws.com/email/Facebook_white.png); display: inline-block;height: 36px;width: 36px;background-repeat: no-repeat;"></i></a>
			<a href="#"><i  class="social-icon youtube" style="background-image: url(https://itstep-career-center.s3.eu-north-1.amazonaws.com/email/Youtube_white.png); display: inline-block;height: 36px;width: 36px;background-repeat: no-repeat;"></i></a>
			<a href="#"><i  class="social-icon vk"  style="background-image: url(https://itstep-career-center.s3.eu-north-1.amazonaws.com/email/VK_white.png); display: inline-block;height: 36px;width: 36px;  background-repeat: no-repeat;" ></i></a>
			<a href="#"><i  class="social-icon telegram" style="background-image: url(https://itstep-career-center.s3.eu-north-1.amazonaws.com/email/Telegram_white.png); display: inline-block;height: 36px;width: 36px;background-repeat: no-repeat; "></i></a>
		</div>
		<p style="font-size: 10px;">© 1999-2019 Компьютерная Академия ШАГ - лидер в сфере профессионального компьютерного образования</p>
	</footer>
</div>
</body>
</html>