.arrow-icon {
    background: url("../img/arrow-ico.png") no-repeat;
    display: inline-block;
    height: 36px;
    width: 50px;
    margin-left: 15px;
}
.social-icon {
    display: inline-block;
    height: 36px;
    width: 36px;
    background-repeat: no-repeat;
}

.telegram {
      background: url("../img/Telegram_white.svg") ;
  }

.facebook {
    background: url("../img/Facebook_white.svg") ;
}

.vk {
    background: url("../img/VK_white.svg");
}

.youtube {
    background: url("../img/Youtube_white.svg");
}

.icon-phone {
    background: url("../img/phone.png") no-repeat;
    display: inline-block;
    width: 22px;
    height: 24px;
    cursor: pointer;
}

/*Стрелки для слайдера*/

.slick-next::before {
    content: '>';
    color: #282828;
}

.slick-prev::before  {
    content: '<';
    color: #282828;
}