.round-image{
  border-radius: 24px;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.woff);
}
body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.bg-color {
  background: linear-gradient(49.32deg, #F1F1F1 0%, #FFFFFF 100%);
}
.header-nav {
  display: flex;
  min-height: 65px;
  align-items: center;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.16);
  background: #FFFFFF;
  border-radius: 6px;
  width: 100%;
  margin: 0 auto;
  z-index: 11;
  position: relative;
}
.header-nav .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav .nav-wrapper .logo-nav {
  display: flex;
  align-items: center;
}
.header-nav .nav-wrapper .logo-nav .name-logo {
  line-height: 15px;
  margin-left: 10px;
  width: 172px;
}
.header-nav .nav-wrapper .logo-nav .name-logo p {
  font-size: 16px;
  color: #E03B3B;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  font-weight: bold;
}
.header-nav .nav-wrapper .logo-nav .name-logo span {
  font-size: 12px;
  color: #676767;
  font-family: 'IBM Plex Sans', sans-serif;
}
.header-nav .nav-wrapper ul {
  justify-content: space-between;
  display: flex;
}
.header-nav .nav-wrapper ul li {
  list-style: none;
  margin-left: 30px;
}
.header-nav .nav-wrapper ul li a {
  font-size: 16px;
  color: #282828;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  line-height: 21px;
  text-decoration: none;
}
.header-nav .nav-wrapper ul li:last-child a {
  box-shadow: 0 4px 16px #C10000;
  padding: 11px;
  background: linear-gradient(76.69deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.88)), #C4C4C4;
  border-radius: 8px;
  color: #FFFFFF;
}
.header-fluid-wrapper {
  padding-top: 20px;
  background: url("../img/graph.png") no-repeat 0 560px;
  background-size: contain;
}
.header-wrapper .contacts {
  margin-top: 25px;
}
.header-wrapper .contacts .address p {
  font-size: 12px;
}
.header-wrapper .contacts .phones {
  display: flex;
  justify-content: space-between;
}
.header-wrapper .contacts .phones p {
  font-size: 12px;
  color: #888888;
}
.header-wrapper .contacts .phones p a {
  color: #282828;
  font-size: 12px;
  text-decoration: none;
  margin-right: 5px;
}
.header-wrapper .slides {
  position: relative;
  min-height: 540px;
  margin-top: 70px;
}
.header-wrapper .slides:before {
  content: '';
  background: url("../img/bg-header.png") no-repeat bottom right;
  width: 100%;
  height: 540px;
  position: absolute;
}
.header-wrapper .slides h1 {
  display: inline-block;
  line-height: 86px;
  font-family: 'Gilroy', sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: #E03B3B;
}
.header-wrapper .slides p {
  font-size: 24px;
  color: #282828;
  font-family: 'Girloy', sans-serif;
}
.header-wrapper .tags {
  margin-top: 100px;
}
.header-wrapper .tags .tags-container {
  z-index: 5;
}
.header-wrapper .tags ul {
  z-index: 3;
}
.header-wrapper .tags ul li {
  display: inline-block;
  margin-top: 10px;
}
.header-wrapper .tags ul li span {
  display: inline-block;
  padding: 7px 13px;
  background: #E03B3B;
  border-radius: 100px;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}
.burger-menu {
  height: 30px;
  cursor: pointer;
  display: none;
}
.burger-menu span {
  border-radius: 2px;
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #282828;
}
.burger-menu span:before,
.burger-menu span:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #282828;
  display: block;
  transition: 0.5s;
  border-radius: 2px;
}
.burger-menu span:before {
  width: 20px;
  transform: translateY(-7px);
}
.burger-menu span:after {
  width: 20px;
  transform: translateY(7px);
}
.burger-menu-active span {
  height: 0;
}
.burger-menu-active span:before {
  transform: rotate(45deg);
  width: 20px;
}
.burger-menu-active span:after {
  transform: rotate(-45deg);
  width: 20px;
}
.phone-menu {
  display: none;
  height: 24px;
  margin-right: 15px;
}
.mob-menu-wrapper {
  display: flex;
  align-items: center;
}
.events-wrapper {
  min-height: 666px;
  position: relative;
  z-index: 3;
  padding-top: 140px;
  margin-top: -10px;
}
.events-wrapper:before {
  content: '';
  background: url("../img/graph-events.png") no-repeat right;
  background-size: contain;
  position: absolute;
  height: 804px;
  width: 100%;
  right: 0;
  top: 0;
}
.events-wrapper .events-card-wrapper {
  margin-top: 50px;
  padding-bottom: 50px;
}
.events-wrapper .events-card {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.events-wrapper .events-card a {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.events-wrapper .events-card a:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  width: 133px;
  height: 28px;
  z-index: 2;
}
.events-wrapper .events-card a .myCard {
  width: 100%;
  position: relative;
}
.events-wrapper .events-card .company {
  position: absolute;
  top: 45px;
  left: 5px;
}
.events-wrapper .events-card .description {
  min-height: 68px;
  background: #FFFFFF;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
}
.events-wrapper .events-card .description .events-status {
  display: flex;
  justify-content: space-between;
}
.events-wrapper .events-card .description .events-status .events-time {
  font-size: 12px;
  color: #E03B3B;
  font-family: 'IBM Plex Sans', sans-serif;
}
.events-wrapper .events-card .description .events-status .events-time span {
  font-weight: bold;
}
.events-wrapper .events-card .description .events-status .events-category {
  font-size: 10px;
  color: #AAAAAA;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.events-wrapper .events-card .description .events-name h4 {
  font-size: 15px;
  color: #282828;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  margin: 0;
}
.see-more-wrapper a {
  display: flex;
  font-size: 16px;
  color: #E03B3B;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  align-items: center;
}
.see-more-wrapper a:hover .arrow-icon {
  transition: 1s;
  transform: translateX(20px);
}
.see-more-wrapper a i {
  transition: 1s;
}
.section-name h2 {
  font-size: 56px;
  color: #282828;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}
.projectModalOpen {
  cursor: pointer;
}
.projects-wrapper {
  background-color: #ffffff;
  min-height: 400px;
  padding-top: 190px;
  background-image: url("../img/bg-projects.png");
  background-repeat: no-repeat;
  background-position: left;
}
.projects-wrapper .main-project {
  margin-top: 50px;
}
.projects-wrapper .main-project a img {
  width: 100%;
}
.projects-wrapper .main-project .description-main-project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects-wrapper .main-project .description-main-project-wrapper .description-main-project h5 {
  font-size: 24px;
  color: #282828;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}
.projects-wrapper .main-project .description-main-project-wrapper .description-main-project p {
  font-size: 16px;
  color: #282828;
  font-family: 'IBM Plex Sans', sans-serif;
}
.profile {
  display: flex;
  align-items: center;
}
.profile .profile-name {
  margin-left: 15px;
}
.profile .profile-name p {
  font-size: 16px;
  color: #282828;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  line-height: 21px;
}
.profile .profile-name a {
  text-decoration: none;
  font-size: 14px;
  color: #E03B3B;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 18px;
  display: block;
}
.type-project {
  font-size: 14px;
  color: #AAAAAA;
  font-family: 'IBM Plex Sans', sans-serif;
}
.other-project-wrapper {
  margin-top: 40px;
}
.other-project-wrapper .description-project p {
  font-size: 18px;
  color: #282828;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 22px;
  margin: 0;
}
.other-project-wrapper .img-project img {
  width: 100%;
}
.see-more-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.see-more-container a {
  justify-content: center;
  width: 265px;
}
.see-more-container a:hover .arrow-icon {
  transition: 1s;
  transform: translateX(20px);
}
.see-more-container a i {
  transition: 1s;
}
.stories-wrapper {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #FFFFFF;
  background-image: url("../img/bg-storiws.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 820px;
}
.stories-container {
  margin-top: 60px;
}
.stories {
  width: 100% ;
  background: #FFFFFF;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 10px;
}
.stories .content-stories {
  padding: 25px;
  background: #F1F1F1;
  border-radius: 16px;
}
.stories .content-stories h5 {
  font-size: 24px;
  color: #282828;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}
.stories .content-stories p {
  font-size: 14px;
  color: #282828;
  font-family: 'IBM Plex Sans', sans-serif;
}
.stories .content-stories img {
  width: 100%;
}
.stories .stories-name {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
.stories .stories-name .more-info-stories a {
  cursor: pointer;
  font-size: 16px;
  color: #aaaaaa;
  font-family: 'IBM Plex Sans', sans-serif;
  text-decoration: none;
  display: block;
}
.stories-2 {
  margin-top: 100px;
}
.vacancy-wrapper {
  background: #FFFFFF;
  padding-bottom: 140px;
}
.vacancy-wrapper .vacancy-box {
  display: block;
  text-decoration: none;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 16px;
  position: relative;
  margin-top: 30px;
  cursor: pointer;
}
.vacancy-wrapper .vacancy-box span {
  font-size: 14px;
  color: #aaaaaa;
  font-family: 'IBM Plex Sans', sans-serif;
}
.vacancy-wrapper .vacancy-box p {
  font-size: 20px;
  color: #282828;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  margin: 0;
}
.vacancy-wrapper .vacancy-box .label {
  position: absolute;
  right: -3px;
  top: 10px;
  background: linear-gradient(79.05deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, #282828, #282828), #C4C4C4;
  border-radius: 2px;
  padding: 3px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vacancy-wrapper .vacancy-box .label span {
  font-size: 12px;
  color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
}
.feedback-wrapper {
  background: linear-gradient(30.56deg, #F1F1F1 0%, #FFFFFF 100%);
  padding: 70px 0;
  position: relative;
}
.feedback-wrapper:before {
  content: '';
  width: 4px;
  height: 100%;
  background-color: #FFFFFF;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  top: 0;
}
.feedback-wrapper .feedback {
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feedback-wrapper .feedback h3 {
  font-size: 30px;
  color: #282828;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}
.feedback-wrapper .feedback p {
  font-size: 16px;
  color: #676767;
  font-family: 'IBM Plex Sans', sans-serif;
}
.feedback-wrapper .feedback a {
  display: inline-block;
  width: 280px;
  padding: 17px 20px;
  font-size: 18px;
  color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
  background: linear-gradient(72.75deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, #282828, #282828), #C4C4C4;
  border-radius: 8px;
  text-decoration: none;
  line-height: 23px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.feedback-wrapper .consult a {
  background: linear-gradient(71.92deg, #BBA556 0%, #DCD198 100%);
}
.partners-wrapper {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #FFFFFF;
}
.partners-wrapper .partners-container {
  margin-top: 70px;
}
.partners-wrapper .partners-container .partners-col {
  display: flex;
  justify-content: space-between;
}
.partners-wrapper .partners-container .partners-col-space-around {
  justify-content: space-around;
}
.footer-wrapper {
  background-color: #282828;
  padding-top: 26px;
  padding-bottom: 10px;
}
.footer-wrapper .footer p {
  font-size: 14px;
  color: #DDDDDD;
  font-family: 'IBM Plex Sans', sans-serif;
}
.footer-wrapper .footer .social-footer {
  display: flex;
  justify-content: flex-end;
}
.footer-wrapper .footer .social-footer .social-icon {
  margin-left: 10px;
}
.display_none {
  display: none;
}
.modal-content .modal-header {
  border-bottom: 0;
}
.modal-content .modal-footer {
  border-top: 0;
}
.modal-content .myBtn {
  font-size: 1rem;
  color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
  background: linear-gradient(72.75deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, #282828, #282828), #C4C4C4;
}
.modal-content button {
  outline: none;
  box-shadow: none;
}
.modal-content button:focus {
  box-shadow: none;
}
.modal-content input {
  box-shadow: -1px 1px 1px #e4e4e4;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #ff0016;
  background-color: #f71717;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modalBodyVacancy {
  position: relative;
}
.modalBodyVacancy .company {
  font-size: 14px;
  color: #aaaaaa;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 15px;
}
.modalBodyVacancy .position {
  font-size: 20px;
  color: #282828;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  margin: 0;
}
.modalBodyVacancy ul {
  margin-left: 40px;
}
.modalBodyVacancy ul li {
  list-style: inherit;
}
.modalBodyVacancy .label {
  position: absolute;
  top: -10px;
  left: -3px;
  background: linear-gradient(79.05deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, #282828, #282828), #C4C4C4;
  border-radius: 2px;
  padding: 3px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

@media (max-width: 992px) {
  .header-nav .nav-wrapper ul li {
    margin-left: 10px;
  }
  .header-nav .nav-wrapper ul li a {
    font-size: 12px;
  }
  .header-nav .nav-wrapper ul li:last-child a {
    padding: 7px;
  }
  .header-nav .nav-wrapper .logo-nav .name-logo p {
    font-size: 15px;
  }
  .header-nav .nav-wrapper .logo-nav .name-logo span {
    font-size: 11px;
  }
  .header-fluid-wrapper {
    background: none;
  }
  .header-fluid-wrapper:after {
    content: '';
    background: url("../img/bg-header.png") no-repeat right;
    right: 0;
    top: 130px;
    width: 100%;
    height: 540px;
    position: absolute;
    opacity: 0.2;
  }
  .header-wrapper .contacts {
    margin-top: 10px;
  }
  .header-wrapper .contacts .phones p {
    font-size: 8px;
  }
  .header-wrapper .contacts .phones p a {
    font-size: 9px;
  }
  .header-wrapper .slides {
    margin-top: 30px;
  }
  .header-wrapper .slides:before {
    display: none;
  }
  .header-wrapper .slides h1 {
    font-size: 64px;
    color: #282828;
    margin: 0;
  }
  .header-wrapper .slides p {
    font-size: 16px;
  }
  .header-wrapper .tags {
    margin-top: 5px;
  }
  .header-wrapper .tags ul {
    display: flex;
    flex-direction: column;
  }
  .section-name {
    text-align: center;
    justify-content: center;
  }
  .section-name h2,
  .section-name h1 {
    font-size: 36px;
  }
  .events-wrapper:before {
    width: 50%;
  }
  .events-wrapper .see-more-events {
    display: flex;
    justify-content: center;
  }
  .main-project .description-main-project-wrapper {
    margin-top: 20px;
  }
  .other-project-wrapper {
    margin: 0;
  }
  .other-project-wrapper .description-project {
    margin-top: 20px;
  }
  .other-project-wrapper .img-project img {
    margin-top: 40px;
  }
  .stories-2 {
    margin-top: 20px;
  }
  .stories_2 {
    margin-top: 20px;
  }
  .feedback-wrapper .feedback a {
    width: 100%;
  }
  .footer-wrapper .footer .text {
    text-align: center;
  }
  .footer-wrapper .footer .social-footer {
    justify-content: center;
  }
  .partners-wrapper .partners-2 {
    display: none;
  }
  .partners-wrapper .partners-3 {
    display: none;
  }
  .partners-wrapper .partners-container {
    margin-top: 0;
  }
  .partners-wrapper .partners-container .partners-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .partners-wrapper .partners-container .partners-col a img {
    margin-top: 40px;
  }
  .partners-wrapper .partners-container .partners-col-space-around {
    justify-content: space-around;
  }
}
@media (max-width: 720px) {
  .header-fluid-wrapper {
    padding: 0;
  }
  .header-wrapper .contacts .phones {
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-height: 265px;
    background: #ffffff;
    right: 0;
    left: 0;
    top: -400px;
    z-index: 6;
    padding: 30px 0 60px 0;
    transition: 2s;
  }
  .header-wrapper .contacts .phones p {
    display: contents;
    font-size: 14px;
    margin-top: 40px;
  }
  .header-wrapper .contacts .phones p a {
    font-size: 16px;
    color: #282828;
  }
  .header-wrapper .contacts .menu-active {
    top: -44px;
  }
  .header-nav .nav-wrapper ul {
    position: absolute;
    right: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    top: -300px;
    z-index: 15;
    padding: 20px;
    transition: 2s;
  }
  .header-nav .nav-wrapper ul li {
    margin-left: 0;
    margin-top: 10px;
  }
  .header-nav .nav-wrapper ul li a {
    font-size: 12px;
  }
  .header-nav .nav-wrapper ul li:last-child a {
    padding: 7px;
  }
  .header-nav .nav-wrapper .menu-active {
    top: 44px;
  }
  .burger-menu {
    display: block;
  }
  .phone-menu {
    display: block;
  }
  .feedback-wrapper:before {
    display: none;
  }
  .feedback-wrapper .consult {
    margin-top: 50px;
  }
}

.projects-wrapper .authorProjectWrapper .author {
  font-size: 40px;
  color: #282828;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}
.projects-wrapper .authorProjectWrapper .specialty {
  font-size: 20px;
  color: #888888;
  font-family: 'IBM Plex Sans', sans-serif;
}
.projects-wrapper .authorProjectWrapper .open {
  display: inline-block;
  padding: 11px;
  text-align: center;
  background: linear-gradient(76.69deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.88)), #C4C4C4;
  border-radius: 8px;
  color: #FFFFFF;
  text-decoration: none;
}
.projects-wrapper .descriptionMainProject {
  padding-top: 20px;
}
.projects-wrapper img {
  width: 100%;
  margin-top: 20px;
}
.projects-wrapper .randomProjectName_wrapper {
  padding-top: 10px;
  display: flex;
}
.projects-wrapper .randomProjectName_wrapper h3 {
  font-size: 20px;
  color: #888888;
  font-family: 'IBM Plex Sans', sans-serif;
}
.projects-wrapper .randomProject_wrapper a {
  outline: none;
  margin: 5px;
}

.formResume-wrapper .workExperienceWrapper {
  position: relative;
}
.formResume-wrapper .educationWrapper {
  position: relative;
}
.formResume-wrapper .projectWrapper {
  position: relative;
}
.formResume-wrapper .nameSection {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.formResume-wrapper .nameSection h1 {
  font-weight: bold;
}
.formResume-wrapper .nameSection h2 {
  font-weight: bold;
}
.formResume-wrapper hr {
  margin-top: 50px;
  margin-bottom: 50px;
}
.formResume-wrapper .delElem {
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 15px;
  color: #888888;
  font-family: 'IBM Plex Sans', sans-serif;
}
.formResume-wrapper .delElem:hover {
  text-decoration: underline;
  cursor: pointer;
}
.formResume-wrapper .myBtnResume {
  font-size: 1rem;
  color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
  background: linear-gradient(72.75deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, #282828, #282828), #C4C4C4;
  width: 100%;
  margin-top: 100px;
  outline: none;
}
.formResume-wrapper .myBtnResume:hover {
  color: #ffffff;
}
.formResume-wrapper .addMore_wrapper {
  display: flex;
  justify-content: center;
}
.formResume-wrapper .addMore_wrapper .addMore {
  font-size: 15px;
  color: #E03B3B;
  font-family: 'IBM Plex Sans', sans-serif;
}
.formResume-wrapper .addMore_wrapper .addMore:hover {
  text-decoration: underline;
  cursor: pointer;
}
.formResume-wrapper .form-group label {
  width: 100%;
}
.formResume-wrapper .form-group input {
  margin-top: 5px;
}
.formResume-wrapper .form-group .datepicker {
  margin-top: 0;
}
.formResume-wrapper .form-group .datepicker:read-only {
  background-color: #ffffff;
}

.mainEvents {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 10px;
  margin-top: 20px;
}
.mainEvents .contentEvents {
  padding: 25px;
  background: #F1F1F1;
  border-radius: 16px;
}
.mainEvents .contentEvents .section-name h1 {
  font-weight: bold;
}
.mainEvents .contentEvents .buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.mainEvents .contentEvents .modalButton {
  display: inline-block;
  width: 280px;
  padding: 17px 20px;
  font-size: 18px;
  color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
  background: linear-gradient(72.75deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, #282828, #282828), #C4C4C4;
  border-radius: 8px;
  text-decoration: none;
  line-height: 23px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.mainEvents .section-img img {
  width: 100%;
}
.mainEvents .mainContent {
  margin-top: 20px;
}
.mainEvents .mainContent h5 {
  font-weight: bold;
}
.mainEvents ul {
  padding-left: 40px;
  margin-top: 20px;
}
.mainEvents ul li {
  list-style: inherit;
}
.mainEvents ol {
  margin-top: 20px;
}
.pagination_wrapper {
  justify-content: center;
  margin-top: 50px;
}
.pagination_wrapper .pagination_container {
  display: flex;
  justify-content: center;
}
.pagination_wrapper .pagination_container .pagination .active .page-link {
  background-color: #676767;
  border-color: #676767;
  color: #FFFFFF;
}
.pagination_wrapper .pagination_container .page-item .page-link {
  color: #282828;
}
.pagination_wrapper .pagination_container .page-item .page-link:focus {
  box-shadow: none;
}
.pt-50 {
  padding-top: 50px;
}
.pb-140 {
  padding-bottom: 140px;
}
.before-none:before {
  display: none;
}
.after-none:after {
  display: none;
}
.bg-img-no {
  background-image: none;
}
/*# sourceMappingURL=style.css.map */