@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.woff);
}
body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
    li {
      list-style: none;
    }
}
.font(@s,@c,@f) {
  font-size: @s;
  color: @c;
  font-family: @f;
}


.bg-color {
  background: linear-gradient(49.32deg, #F1F1F1 0%, #FFFFFF 100%);
}

  //Стили для header
.header-nav {
  display: flex;
  min-height: 65px;
  align-items: center;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.16);
  background: #FFFFFF;
  border-radius: 6px;
  width:100%;
  margin: 0 auto;
  z-index: 11;
  position: relative;
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
      .logo-nav {
        display: flex;
        align-items: center;
      .name-logo {
        line-height: 15px;
        margin-left: 10px;
        width: 172px;
        p {
          .font(16px; #E03B3B ;'IBM Plex Sans', sans-serif;);
          margin: 0;
          font-weight: bold;
        }
        span {
          .font(12px; #676767 ;'IBM Plex Sans', sans-serif;);
        }
      }
      }
    ul {
      justify-content: space-between;
      display: flex;
      li {
        list-style: none;
        margin-left: 30px;
        a {
          .font(16px; #282828 ;'IBM Plex Sans', sans-serif;);
          font-weight: 600;
          line-height: 21px;
          text-decoration: none;
        }
        &:last-child a {
          box-shadow: 0 4px 16px #C10000;
          padding: 11px;
          background: linear-gradient(76.69deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.88)), #C4C4C4;
          border-radius: 8px;
          color:#FFFFFF;
        }
      }
    }
  }
}
  .header-fluid-wrapper {
    padding-top: 20px;
    background: url("../img/graph.png") no-repeat 0 560px;
    background-size: contain;
    //&:after {
    //  content: '';
    //  background-repeat: no-repeat;
    //  background-size: cover;
    //  position: absolute;
    //  width: 100%;
    //  height: 200px;
    //  z-index: 4;
    //  left: 0;
    //  bottom: 0;
    //}
  }

//.bg-bluer {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//}
  .header-wrapper {
  .contacts {
    margin-top: 25px;
    .address {
      p {
        font-size: 12px;
      }
    }
    .phones {
      display: flex;
      justify-content: space-between;
      p {
        font-size: 12px;
        color: #888888;
        a {
          color: #282828;
          font-size: 12px;
          text-decoration: none;
          margin-right: 5px;
        }
      }
    }
  }

  .slides {
    position: relative;
    min-height: 540px;
    margin-top: 70px;

     &:before {
       content: '';
       background: url("../img/bg-header.png") no-repeat bottom right;
       width: 100%;
       height: 540px;
       position: absolute;
     }
    h1 {
          display: inline-block;
          line-height: 86px;
          font-family: 'Gilroy', sans-serif;
          font-size: 100px;
          font-weight: bold;
          //color: linear-gradient(78.97deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, #282828, #282828), #C4C4C4;
          color: #E03B3B;
        }
        p {
          .font(24px; #282828; 'Girloy', sans-serif;);
        }
  }
  .tags {
    margin-top: 100px;
      .tags-container {
        z-index: 5;
      }
    ul {
      z-index: 3;
      li {
        display: inline-block;
        margin-top: 10px;
        span {
          display: inline-block;
          padding: 7px 13px;
          background: #E03B3B;
          border-radius: 100px;
          font-size: 15px;
          color: #FFFFFF;
          text-decoration: none;
         }
        }
      }
    }
  }


  // Адаптив для header
.burger-menu {
  height: 30px;
  cursor: pointer;
  display: none;
  span {
    border-radius: 2px;
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #282828;
    &:before, &:after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: #282828;
      display: block;
      transition: 0.5s;
      border-radius: 2px;
    }
    &:before {
      width: 20px;
      transform: translateY(-7px) ;
    }
    &:after {
      width: 20px;
      transform: translateY(7px) ;
    }
  }
}
.burger-menu-active span {
  height: 0;
}

.burger-menu-active span:before {
  transform: rotate(45deg);
  width: 20px;
}

.burger-menu-active span:after {
  transform: rotate(-45deg);
  width: 20px;
}
.phone-menu {
  display: none;
  height: 24px;
  margin-right: 15px;
}
.mob-menu-wrapper {
  display: flex;
  align-items: center;
}
//  Events
.events-wrapper {
  min-height: 666px;
  position: relative;
  z-index: 3;
  padding-top: 140px;
  margin-top: -10px;
    &:before {
      content: '';
      background:url("../img/graph-events.png") no-repeat right;
      background-size: contain;
      position: absolute;
      height: 804px;
      width: 100%;
      right: 0;
      top: 0;
    }
  .events-card-wrapper {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .events-card {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    a {
      cursor: pointer;
      position: relative;
      display: inline-block;
      &:before {
        content: "";
        position: absolute;
        //background: url("../img/isSteplogoCard.svg") no-repeat;
        top: 10px;
        left: 5px;
        width: 133px;
        height: 28px;
        z-index: 2;
      }
      .myCard {
        width: 100%;

        position: relative;
      }
    }
    .company {
      position: absolute;
      top: 45px;
      left: 5px;
    }
    .description {
      min-height: 68px;
      background: #FFFFFF;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: 10px;
      padding: 10px;
      .events-status {
        display: flex;
        justify-content: space-between;

        .events-time {
          .font(12px; #E03B3B; 'IBM Plex Sans', sans-serif;);
          span {
            font-weight: bold;
          }
        }
        .events-category {
          .font(10px; #AAAAAA; 'IBM Plex Sans', sans-serif;);
          font-weight: bold;
          text-transform: uppercase;
        }
      }
      .events-name {
        h4 {
          .font(15px; #282828; 'IBM Plex Sans', sans-serif;);
          font-weight: bold;
          margin: 0;
        }
      }
    }
  }
}
.see-more-wrapper {

   a {
     display: flex;
     .font(16px; #E03B3B; 'IBM Plex Sans', sans-serif;);
     font-weight: bold;
     text-decoration: underline;
     align-items: center;
     &:hover .arrow-icon {
       transition: 1s;
       transform: translateX(20px)
     }
     i {
       transition: 1s;
     }
   }
}
.section-name {
  h2 {
    .font(56px; #282828; 'IBM Plex Sans', sans-serif;);
    font-weight: bold;
  }
}
.projectModalOpen {
  cursor: pointer;
}
.projects-wrapper {
  background-color: #ffffff;
  min-height: 400px;
  padding-top: 190px;
  background-image: url("../img/bg-projects.png");
  background-repeat: no-repeat;
  background-position: left;

  .main-project {
    margin-top: 50px;
     a {
       img {
         width: 100%;
       }
     }
    .description-main-project-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .description-main-project {
        h5 {
          .font(24px; #282828; 'IBM Plex Sans', sans-serif;);
          font-weight: bold;
        }
        p {
          .font(16px; #282828; 'IBM Plex Sans', sans-serif;);
        }
      }
    }
  }
}
.profile {
  display: flex;
  align-items: center;
  .profile-name {
    margin-left: 15px;
    p {
      .font(16px; #282828; 'IBM Plex Sans', sans-serif;);
      margin: 0;
      line-height: 21px;
    }
    a {
      text-decoration: none;
      .font(14px; #E03B3B; 'IBM Plex Sans', sans-serif;);
      line-height: 18px;
      display: block;
    }
  }
}
.type-project {
  .font(14px; #AAAAAA; 'IBM Plex Sans', sans-serif;);
}

.other-project-wrapper {
  margin-top: 40px;
    .description-project {
      p {
        .font(18px; #282828; 'IBM Plex Sans', sans-serif;);
        line-height: 22px;
        margin: 0;
      }
    }
    .img-project {
      img {
        width: 100%;
      }
    }
}

.see-more-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    justify-content: center;
    width: 265px;

    &:hover .arrow-icon {
      transition: 1s;
      transform: translateX(20px)
    }
    i {
      transition: 1s;
    }
  }
}

//Секция Stories
.stories-wrapper {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #FFFFFF;
  background-image: url("../img/bg-storiws.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 820px;
}
.stories-container {
  margin-top: 60px;
}
.stories {
  width:100% ;
  background: #FFFFFF;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 10px;
  .content-stories {
    padding: 25px;
    background: #F1F1F1;
    border-radius: 16px;
      h5 {
        .font(24px; #282828; 'IBM Plex Sans', sans-serif;);
        font-weight: bold;
      }
    p {
      .font(14px; #282828; 'IBM Plex Sans', sans-serif;);
    }
    img {
      width: 100%;
    }
  }
  .stories-name {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    .more-info-stories {
      a {
        cursor: pointer;
        .font(16px; #aaaaaa; 'IBM Plex Sans', sans-serif;);
        text-decoration: none;
        display: block;
      }
    }
  }
}
.stories-2 {
  margin-top: 100px;
}

//Вакансии

.vacancy-wrapper {
  background: #FFFFFF;
  padding-bottom: 140px;
  .vacancy-box {
    display: block;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 16px;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
    span {
      .font(14px; #aaaaaa; 'IBM Plex Sans', sans-serif;);
    }
    p {
      .font(20px; #282828; 'IBM Plex Sans', sans-serif;);
      font-weight: bold;
      margin: 0;
    }
    .label {
      position: absolute;
      right: -3px;
      top: 10px;
      background: linear-gradient(79.05deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, #282828, #282828), #C4C4C4;
      border-radius: 2px;
      padding: 3px 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        .font(12px; #ffffff; 'IBM Plex Sans', sans-serif;);
      }
    }
  }
}

//Feedback
.feedback-wrapper {
  background: linear-gradient(30.56deg, #F1F1F1 0%, #FFFFFF 100%);
  padding: 70px 0;
  position: relative;
    &:before {
      content: '';
      width: 4px;
      height: 100%;
      background-color: #FFFFFF;
      position: absolute;
      right: 50%;
      left: 50%;
      bottom: 0;
      top: 0;
    }
  .feedback {
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      .font(30px; #282828; 'IBM Plex Sans', sans-serif;);
      font-weight: bold;
    }
    p {
      .font(16px; #676767; 'IBM Plex Sans', sans-serif;);

    }
    a {
      display: inline-block;
      width: 280px;
      padding: 17px 20px;
      .font(18px; #ffffff; 'IBM Plex Sans', sans-serif;);
      background: linear-gradient(72.75deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, #282828, #282828), #C4C4C4;
      border-radius: 8px;
      text-decoration: none;
      line-height: 23px;
      align-items: center;
      text-align: center;
      justify-content: center;
    }

  }
  .consult {

    a {
      background: linear-gradient(71.92deg, #BBA556 0%, #DCD198 100%);
    }
  }
}

//Partners
.partners-wrapper {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #FFFFFF;
  .partners-container {
    margin-top: 70px;
    .partners-col {
      display: flex;
      justify-content: space-between;
      a {
        img {

        }
      }
    }
    .partners-col-space-around {
      justify-content: space-around;
    }
  }
}

//footer
.footer-wrapper {
  background-color: #282828;
  padding-top: 26px;
  padding-bottom: 10px;
  .footer {
    p {
      .font(14px; #DDDDDD; 'IBM Plex Sans', sans-serif;);
    }
    .social-footer {
      display: flex;
      justify-content: flex-end;
      .social-icon {
        margin-left: 10px;
      }
    }
  }
}

//Modal
.display_none {
  display: none;
}
.modal-content {
  .modal-header {
    border-bottom: 0;
  }
  .modal-footer {
    border-top: 0;
  }
  .myBtn {
    .font(1rem; #ffffff; 'IBM Plex Sans', sans-serif;);
    background: linear-gradient(72.75deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, #282828, #282828), #C4C4C4;
  }
  button {
    outline: none;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }
  input {
    box-shadow: -1px 1px 1px #e4e4e4;
  }
}
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #ff0016;
  background-color: #f71717;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Модаль Вакансии
.modalBodyVacancy {
  position: relative;
  .company {
    .font(14px; #aaaaaa; 'IBM Plex Sans', sans-serif;);
    margin-top: 15px;
  }

  .position {
    .font(20px; #282828; 'IBM Plex Sans', sans-serif;);
    font-weight: bold;
    margin: 0;
  }
  ul {
    margin-left: 40px;
    li {
      list-style: inherit;
    }
  }
  .label {
    position: absolute;
    top: -10px;
    left: -3px;
    background: linear-gradient(79.05deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, #282828, #282828), #C4C4C4;
    border-radius: 2px;
    padding: 3px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
  }
}



//Медиа запросы


@media (max-width: 992px) {
  .header-nav {
    .nav-wrapper {
      ul {
        li {
          margin-left: 10px;
          a {
            font-size: 12px;
          }
          &:last-child a {
            padding: 7px;
          }
        }
      }
      .logo-nav {
        .name-logo {
          p {
            font-size: 15px;
          }
          span {
            font-size: 11px;
          }
        }
      }
    }
  }
  .header-fluid-wrapper  {
    background: none;
    &:after {
      content: '';
      background: url("../img/bg-header.png") no-repeat  right;
      right: 0;
      top: 130px;
      width: 100%;
      height: 540px;
      position: absolute;
      opacity: 0.2;
    }

  }
  .header-wrapper {
    .contacts {
      margin-top: 10px;
      .phones {
        p {
          font-size: 8px;
          a {
            font-size:9px;
          }
        }
      }
    }
    .slides {
      &:before {
        display: none;
      }
      margin-top: 30px;
      h1 {
        font-size: 64px;
        color: #282828;
        margin: 0;
      }
      p {
        font-size: 16px;
      }
    }
    .tags {
      margin-top: 5px;
      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .section-name {
    text-align: center;
    justify-content: center;
    h2,h1{
      font-size: 36px;
    }
  }
  .events-wrapper {
         &:before {
           width: 50%;
         }
    .see-more-events {
      display: flex;
      justify-content: center;
    }
  }

  .main-project {
    .description-main-project-wrapper {
      margin-top: 20px;
    }
  }
  .other-project-wrapper {
    margin: 0;
    .description-project {
      margin-top: 20px;
    }
    .img-project {
      img {
        margin-top: 40px;
      }
    }
  }
  .stories-2 {
    margin-top: 20px;
  }

  .stories_2 {
    margin-top: 20px;
  }
  .feedback-wrapper {
    .feedback {
      a {
        width: 100%;
      }
    }
  }


  .footer-wrapper {
    .footer {
      .text {
        text-align: center;
      }
      .social-footer {
        justify-content: center;
      }
    }
  }
  .partners-wrapper {
    .partners-2 {
      display: none;
    }
    .partners-3 {
      display: none;
    }
    .partners-container {
      margin-top: 0;
      .partners-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          img {
            margin-top: 40px;
          }
        }
      }
      .partners-col-space-around {
        justify-content: space-around;
      }
    }
  }
}

@media (max-width: 720px) {
  .header-fluid-wrapper {
    padding:0;
  }
  .header-wrapper {
    .contacts {
      .phones {
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        min-height: 265px;
        background: #ffffff;
        right: 0;
        left: 0;
        top: -400px;
        z-index: 6;
        padding: 30px 0 60px 0;
        transition: 2s;
        p {
          display: contents;
          font-size: 14px;
          margin-top: 40px;
          a {
            font-size: 16px;
            color: #282828;
          }
        }

      }
      .menu-active {
        top:-44px;
      }
    }
  }

  .header-nav {
    .nav-wrapper {
      ul {
        position: absolute;
        right: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        top: -300px;
        z-index: 15;
        padding: 20px;
        transition: 2s;
        li {
          margin-left: 0;
          margin-top: 10px;
          a {
            font-size: 12px;
          }
          &:last-child a {
            padding: 7px;
          }
        }
      }
      .menu-active {
        top:44px;
      }
    }
  }
  .burger-menu {
    display: block;
  }
  .phone-menu {
    display: block;
  }
  .feedback-wrapper {
    &:before {
      display: none;
    }
    .consult {
      margin-top: 50px;
    }
  }
}

//Страница проекта
.projects-wrapper {
  .authorProjectWrapper {
    .author {
      .font(40px; #282828; 'IBM Plex Sans', sans-serif;);
      font-weight: bold;
    }
    .specialty {
      .font(20px; #888888; 'IBM Plex Sans', sans-serif;);
    }
    .open {
      display: inline-block;
      padding: 11px;
      text-align: center;
      background: linear-gradient(76.69deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.88)), #C4C4C4;
      border-radius: 8px;
      color: #FFFFFF;
      text-decoration: none;
    }

  }
  .descriptionMainProject {
    padding-top: 20px;
  }
  img {
    width: 100%;
    margin-top: 20px;
  }

  .randomProjectName_wrapper {
    padding-top: 10px;
    display: flex;
    h3 {
      .font(20px; #888888; 'IBM Plex Sans', sans-serif;);
    }
  }
  .randomProject_wrapper {
    a {
      outline: none;
      margin: 5px;
    }
  }

}

//Страница резюме
.formResume-wrapper {
  .workExperienceWrapper {
    position: relative;
  }
  .educationWrapper {
    position: relative;
  }
  .projectWrapper {
    position: relative;
  }
  .nameSection {
    display: flex;
    justify-content: center;
    padding: 20px;
    h1 {
      font-weight: bold;
    }
    h2 {
      font-weight: bold;
    }
  }
  hr {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .delElem {
    position: absolute;
    top: 15px;
    right: 0;
    .font(15px; #888888; 'IBM Plex Sans', sans-serif;);
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .myBtnResume {
    .font(1rem; #ffffff; 'IBM Plex Sans', sans-serif;);
    background: linear-gradient(72.75deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, #282828, #282828), #C4C4C4;
    &:hover {
      color: #ffffff;
    }
    width: 100%;
    margin-top: 100px;
    outline: none;
  }
  .addMore_wrapper {
    display: flex;
    justify-content: center;
    .addMore {
      .font(15px; #E03B3B; 'IBM Plex Sans', sans-serif;);
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .form-group {
    label {
      width: 100%;
    }
    input {
      margin-top: 5px;
    }
    .datepicker {
      margin-top: 0;
    }
    .datepicker:read-only {
      background-color: #ffffff;
    }
  }
}

//Страница мероприятия
.mainEvents {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 10px;
  margin-top: 20px;
  .contentEvents {
    padding: 25px;
    background: #F1F1F1;
    border-radius: 16px;
      .section-name {
        h1{
          font-weight: bold;
        }
      }
    .buttonWrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 35px;
    }
    .modalButton {
      display: inline-block;
      width: 280px;
      padding: 17px 20px;
      font-size: 18px;
      color: #ffffff;
      font-family: 'IBM Plex Sans', sans-serif;
      background: linear-gradient(72.75deg, #C84F4F -3.82%, #EC3939 106.47%), linear-gradient(0deg, #282828, #282828), #C4C4C4;
      border-radius: 8px;
      text-decoration: none;
      line-height: 23px;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
  .section-img {
    img {
      width: 100%;
    }
  }
  .mainContent {
    margin-top: 20px;
      h5 {
        font-weight: bold;
      }
  }
  ul {
    padding-left: 40px;
    margin-top: 20px;
     li {
       list-style: inherit;
     }
  }
  ol {
    margin-top: 20px;
  }
}


//Пагинация
.pagination_wrapper {
  justify-content: center;
  margin-top: 50px;
  .pagination_container {
    display: flex;
    justify-content: center;
    .pagination {
        .active {
          .page-link {
            background-color: #676767;
            border-color: #676767;
            color: #FFFFFF;
          }
        }
    }
    .page-item {
      .page-link {
        color: #282828;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
//Доп классы
.pt-50 {
  padding-top: 50px;
}
.pb-140 {
  padding-bottom: 140px;
}
.before-none {
  &:before {
    display: none;
  }
}

.after-none {
  &:after {
    display: none;
  }
}
.bg-img-no {
  background-image: none;
}
