<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    Fonts-->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700&display=swap&subset=cyrillic"
          rel="stylesheet">
    <!--    Иконки-->
    <link rel="stylesheet" type="text/css" th:href="@{/style/icon.css}">
    <!--    favicon-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <!--    Основные стили-->
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}">
    <title>Центр карьеры</title>
</head>
<body>

<!--Контейнер для градиента-->
<div class="container-fluid p-0 bg-color">
    <!--Header-->

    <div class="container-fluid header-fluid-wrapper">

        <div class="container">

            <div class="row">
                <nav class="header-nav">
                    <div class="col-md-12 col-lg-12 nav-wrapper">
                        <div class="logo-nav">
                            <a href="/index"><img th:src="@{/img/logo-header.svg}" alt=""></a>
                            <div class="name-logo">
                                <p>Центр карьеры</p>
                                <span>Компьютерной академии ШАГ</span>
                            </div>
                        </div>
                        <div class="mob-menu-wrapper">
                            <div class="phone-menu" id="phoneIcon">
                                <i class="icon-phone"></i>
                            </div>
                            <div class="burger-menu" id="burger">
                                <span></span>
                            </div>
                        </div>
                        <ul  id="myMenu" >
                            <li><a href="/events?page=1">Мероприятия</a></li>
                            <li><a href="/projects?page=1">Проекты</a></li>
                            <li><a href="/stories?page=1">Истории</a></li>
                            <li><a href="/vacancies?page=1">Вакансии</a></li>
                            <li><a href="/partners">Партнеры</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#modalConsult">Консультация</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container header-wrapper">
            <div class="row contacts">
                <div class="col-md-3 col-lg-3">
                    <div class="address">
                        <p>Минск, ул. К. Маркса, 32</p>
                    </div>
                </div>
                <div class="col-md-9 col-lg-9">
                    <div class="phones" id="phoneMenu">
                        <p>Руководитель центра карьеры: <a href="#">+375 (29) 775-21-94</a></p>
                        <p>Поступление в «ШАГ»: <a href="#">+375 (29) 636-65-85</a> <a href="#">+375 (25) 692-06-71</a></p>
                    </div>
                </div>
            </div>
            <div class="slides">

                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <h1>Центр карьеры</h1>
                        <p>Центр трудоустройства наших студентов</p>
                    </div>
                </div>
                <div class="row tags">
                    <div class="col-md-8 col-lg-6 tags-container">
                        <ul>
                            <li><span>Выстраиваем траектории ИТ-карьеры</span></li>
                            <li><span>ИТ-мероприятия</span></li>
                            <li><span>Вакансии и стажировки</span></li>
                            <li><span>Консультируем по выбору профессии</span></li>
                            <li><span>Помогаем найти работу в ИТ</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Все мероприятия-->
    <div class="container-fluid events-wrapper">
        <div class="container">
            <div class="row section-name" id="myEvents">
                <div class="col-md-12 col-lg-4">
                    <h2>Мероприятия</h2>
                </div>
            </div>
            <!-- Одно мероприятие-->
                <div class="row events-card-wrapper">
                    <div th:each="event : ${events}" class="col-md-12 col-lg-4">
                        <div class="events-card">
                            <a th:href="@{/events/{id}(id=${event.id})}">
                                <img th:src="${event.image.preview}" alt="img" class="myCard round-image">
                                <div class="description">
                                    <div class="events-status">
                                        <p class="events-time" th:text="${#temporals.format(event.time, 'dd.MM.yyyy HH:mm')}"></p>
                                        <p class="events-category" th:text="${event.type}"></p>
                                    </div>
                                    <div class="events-name">
                                        <h4 th:text="${event.name}"></h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            <div class="row see-more-wrapper">
                <div class="col-md-12 col-lg-4 see-more-events">
                    <a href="events?page=1">Смотреть все мероприятия <i class="arrow-icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Project-->
<div class="container-fluid projects-wrapper">
    <div class="container">
        <div class="row section-name" id="myProject">
            <div class="col-md-12 col-lg-6">
                <h2>Проекты студентов</h2>
            </div>
        </div>
        <div class="row main-project">
            <div class="col-md-12 col-lg-8">
                <a href="/projects/2"><img class="w100" th:src="@{/img/project1.png}" alt="img"></a>
            </div>
            <div class="col-md-12 col-lg-4 description-main-project-wrapper">
                <div class="profile">
                    <div class="avatar">
                        <img src="img/avatar1.png" alt="">
                    </div>
                    <div class="profile-name">
                        <p>Арсений Постулако</p>
                        <a href="#">Компьютерная графика и дизайн</a>
                    </div>
                </div>
                <div class="description-main-project">
                    <span class="type-project">Анимация, 3D, Маппинг, Текстурирование</span>
                    <h5>Волосатый гуманоид в статическом освещении</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra senectus sed ornare cursus imperdiet. </p>
                    <p>Odio dignissim pellentesque tellus habitant curabitur quis arcu morbi vel. Commodo urna, varius magna ac aenean.</p>
                </div>
            </div>
        </div>
        <div class="row other-project-wrapper">
            <div class="col-md-12 col-lg-3">
                <div class="img-project">
                    <a href="/projects/1"><img  th:src="@{/img/project2.png}" alt="img"></a>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="description-project">
                    <div class="profile">
                        <div class="avatar">
                            <img th:src="@{/img/avatar1.png}" alt="img">
                        </div>
                        <div class="profile-name">
                            <p>Иванка Корнеева</p>
                            <a href="#">Java-разработка</a>
                        </div>
                    </div>
                    <span class="type-project">
                            Кодинг, Java
                        </span>
                    <p>Создание ветви комментариев  для образовательного ресурса</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="img-project">
                    <a href="/projects/0"><img  th:src="@{/img/project2.png}" alt="img"></a>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="description-project">
                    <div class="profile">
                        <div class="avatar">
                            <img  th:src="@{/img/avatar1.png}" alt="">
                        </div>
                        <div class="profile-name">
                            <p>Иванка Корнеева</p>
                            <a href="#">Java-разработка</a>
                        </div>
                    </div>
                    <span class="type-project">
                            Кодинг, Java
                        </span>
                    <p>Создание ветви комментариев  для образовательного ресурса</p>
                </div>
            </div>
        </div>
        <div class="row see-more-wrapper">
            <div class="col-md-12 col-lg-12 see-more-container">
                <a href="/projects?page=1">Смотреть все проекты <i class="arrow-icon"></i></a>
            </div>
        </div>
    </div>
</div>
<!--Истории-->
<div class="container-fluid stories-wrapper">
    <div class="container">
        <div class="row section-name" id="myStories">
            <div class="col-md-12 col-lg-7">
                <h2>Истории выпускников</h2>
            </div>
        </div>
        <div class="row stories-container">
            <div class="col-md-12 offset-lg-1 col-lg-5">
                <div class="stories">
                    <div class="content-stories p-0">
                        <img th:src="${firstStory.image.main}" alt="stories" class="round-image">
                    </div>
                    <div class="stories-name">
                        <div class="profile">
                            <div class="profile-name">
                                <p th:text="${firstStory.authorName}"></p>
                                <a href="#" th:text="${firstStory.header}"></a>
                            </div>
                        </div>
                        <div class="more-info-stories">
                            <a th:attr="onclick=|openStories('${firstStory.id}')|" class="storiesModalOpen">Смотреть</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 offset-ld-1 col-lg-5">
                <div class="stories stories-2">
                    <div class="content-stories p-0">
                        <img th:src="${secondStory.image.main}" alt="stories" class="round-image">
                    </div>
                    <div class="stories-name">
                        <div class="profile">
                            <div class="profile-name">
                                <p th:text="${secondStory.authorName}"></p>
                                <a href="#" th:text="${secondStory.header}"></a>
                            </div>
                        </div>
                        <div class="more-info-stories">
                            <a th:attr="onclick=|openStories('${secondStory.id}')|" class="storiesModalOpen">Смотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row see-more-wrapper">
            <div class="col-md-12  col-lg-12 see-more-container">
                <a href="stories?page=1">Смотреть еще истории <i class="arrow-icon"></i></a>
            </div>
        </div>
    </div>
</div>
<!--Модаль Истории-->
<div class="modal fade" id="modalStories" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="storiesTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="story-video-frame" width="100%" height="430px"
                        src=""
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>
<!--Вакансии-->
<div class="container-fluid vacancy-wrapper">
    <div class="container">
        <div class="row section-name" id="myVacancy">
            <div class="col-md-12 col-lg-7">
                <h2>Вакансии</h2>
            </div>
        </div>
        <div class="row">

            <div th:each="vacancyChunks : ${T(com.google.common.collect.Lists).partition(vacancies, 3)}"  class="col-md-12 col-lg-4">
                <a th:attr="onclick=|openVacancyModal('${vacancy.id}')|" th:each="vacancy : ${vacancyChunks}" class="vacancy-box">
                    <span class="company" th:text="${vacancy.company}"></span>
                    <p class="position" th:text="${vacancy.name}"></p>
                    <div class="label">
                        <span th:text="${vacancy.experience}"></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="row see-more-wrapper">
            <div class="col-md-12 col-lg-12 see-more-container">
                <a href="vacancies?page=1">Смотреть еще вакансии <i class="arrow-icon"></i></a>
            </div>
        </div>
    </div>
</div>
<!--Модаль Вакансии-->
<div class="modal fade" id="modalVacancy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vacancyTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBodyVacancy" class="modal-body modalBodyVacancy">
                <p class="company"></p>
                <p class="position"></p>
                <p class="description">
                <div class="label">
                    <span class="experience">Стажер, $</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Feedback-->
<div class="container-fluid feedback-wrapper" id="myFeedback">
    <div class="container">
        <div class="row" >
            <div class="col-md-5 col-lg-5 ">
                <div class="feedback resume " >
                    <h3>Отправь нам свое резюме и мы надем тебе работу мечты</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum pretium vel arcu donec sem.</p>
                    <p> Lectus at ut nulla sit id facilisi. Ipsum, dolor, amet sit posuere venenatis amet tristique diam.</p>
                    <a href="/create-cv">Заполнить резюме</a>
                </div>
            </div>
            <div class="col-md-5 offset-md-2  offset-lg-2 col-lg-5 ">
                <div class="feedback consult">
                    <h3>Возникли вопросы по трудоустройству?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum pretium vel arcu donec sem.Lectus at ut nulla sit id facilisi. Ipsum, dolor, amet sit posuere venenatis amet tristique diam.Ipsum, dolor, amet sit posuere venenatis amet tristique diam.</p>
                    <a href="#" data-toggle="modal" data-target="#modalConsult">Получить консультацию</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal consult -->
<div class="modal fade" id="modalConsult" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Получить консультацию</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="formConsult" class="needs-validation" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input name="firstName" type="text" class="form-control" id="name" placeholder="Имя">
                    </div>
                    <div class="form-group">
                        <label for="surname">Фамилия</label>
                        <input name="lastName" type="text" class="form-control" id="surname" placeholder="Фамилия">

                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="tel">Телефон</label>
                        <input name="phone" type="number" class="form-control" id="tel" placeholder="+375291000000">
                    </div>
                    <div class="form-group custom-control custom-checkbox">
                        <input name="student" type="checkbox" class="custom-control-input" id="studentStep">
                        <label class="custom-control-label" for="studentStep">Вы студент Академии ШАГ?</label>
                    </div>
                    <div class="form-group">
                        <input name="group" type="text" class="form-control display_none" id="numberGroup" placeholder="Номер группы">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Комментарии</label>
                        <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputStateDay">Выберите удобный для Вас день недели </label>
                        <select name="assignedAtDay" id="inputStateDay" class="form-control">
                            <option selected value="Выберите день">Выберите день</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputStateTime">Выберите  удобное для Вас время </label>
                        <select name="assignedAtTime" id="inputStateTime" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submit" class="btn myBtn">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!------------>
<div class="container-fluid partners-wrapper">
    <div class="container">
        <div class="row section-name" id="myPartners">
            <div class="col-md-12 col-lg-7">
                <h2>Наши партнеры</h2>
            </div>
        </div>
        <div class="row partners-container partners-1">
            <div class="col-md-12 col-lg-12 partners-col">
                <a href="#"><img th:src="@{/img/logo-1.svg}" alt="img"></a>
                <a href="#"><img th:src="@{/img/logo-2.svg}" alt="img"></a>
                <a href="#"><img th:src="@{/img/logo-3.svg}" alt="img"></a>
                <a href="#"><img th:src="@{/img/logo-4.svg}" alt="img"></a>
                <a href="#"><img th:src="@{/img/logo-5.svg}" alt="img"></a>
            </div>
        </div>
        <div class="row partners-container partners-2 ">
            <div class="col-md-12 col-lg-12 partners-col partners-col-space-around">
                <a href="#"><img th:src="@{/img/logo-6.svg}" alt="img"></a>
                <a href="#"><img th:src="@{/img/logo-7.svg}" alt="img"></a>
                <a href="#"><img th:src="@{/img/logo-8.svg}" alt="img"></a>
                <a href="#"><img th:src="@{/img/logo-9.svg}" alt="img"></a>
            </div>
        </div>
        <div class="row partners-container partners-3">
            <div class="col-md-12 col-lg-12 partners-col">
                <a href="#"><img th:src="@{/img/logo-10.svg}" alt="img"></a>
                <a href="#"><img th:src="@{/img/logo-11.svg}" alt="img"></a>
                <a href="#"><img th:src="@{/img/logo-12.svg}" alt="img"></a>
                <a href="#"><img th:src="@{/img/logo-13.svg}" alt="img"></a>
                <a href="#"><img th:src="@{/img/logo-14.svg}" alt="img"></a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer-wrapper">
    <div class="container">
        <footer class="footer">
            <div class="row">
                <div class="col-md-8 col-lg-8 text">
                    <p>© 1999-2019 Компьютерная Академия ШАГ - лидер в сфере профессионального компьютерного образования</p>
                </div>
                <div class="col-md-4 col-lg-4 social-footer">
                    <a href="#"><i class="social-icon facebook"></i></a>
                    <a href="#"><i class="social-icon youtube"></i></a>
                    <a href="#"><i class="social-icon vk"></i></a>
                    <a href="#"><i class="social-icon telegram"></i></a>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>-->
<script th:src="@{/js/script.js}"></script>
</body>
</html>