<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    Fonts-->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700&display=swap&subset=cyrillic"
          rel="stylesheet">
    <!--    Иконки-->
    <link rel="stylesheet" type="text/css" th:href="@{/style/icon.css}">
    <!--    favicon-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <!--    Основные стили-->
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}">
    <title>Истории</title>
</head>
<body>

<!--Контейнер для градиента-->
<div class="container-fluid p-0 ">
    <!--Header-->

    <div class="container-fluid header-fluid-wrapper after-none">

        <div class="container">

            <div class="row">
                <nav class="header-nav">
                    <div class="col-md-12 col-lg-12 nav-wrapper">
                        <div class="logo-nav">
                            <a href="/index"><img th:src="@{/img/logo-header.svg}" alt=""></a>
                            <div class="name-logo">
                                <p>Центр карьеры</p>
                                <span>Компьютерной академии ШАГ</span>
                            </div>
                        </div>
                        <div class="mob-menu-wrapper">
                            <div class="phone-menu" id="phoneIcon">
                                <i class="icon-phone"></i>
                            </div>
                            <div class="burger-menu" id="burger">
                                <span></span>
                            </div>
                        </div>
                        <ul  id="myMenu" >
                            <li><a href="/events?page=1">Мероприятия</a></li>
                            <li><a href="/projects?page=1">Проекты</a></li>
                            <li><a href="/stories?page=1">Истории</a></li>
                            <li><a href="/vacancies?page=1">Вакансии</a></li>
                            <li><a href="/partners">Партнеры</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#modalConsult">Консультация</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container header-wrapper">
            <div class="row contacts">
                <div class="col-md-3 col-lg-3">
                    <div class="address">
                        <p>Минск, ул. К. Маркса, 32</p>
                    </div>
                </div>
                <div class="col-md-9 col-lg-9">
                    <div class="phones" id="phoneMenu">
                        <p>Руководитель центра карьеры: <a href="#">+375 (29) 775-21-94</a></p>
                        <p>Поступление в «ШАГ»: <a href="#">+375 (29) 636-65-85</a> <a href="#">+375 (25) 692-06-71</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid stories-wrapper pt-50">
        <div class="container">
            <div class="row section-name" id="myStories">
                <div class="col-md-12 col-lg-7">
                    <h2>Истории выпускников</h2>
                </div>
            </div>
            <!-- 1 история -->
            <div th:each="story : ${stories}" class="row stories-container">
                <div class="col-md-12  col-lg-6">
                    <div class="stories">
                        <div class="content-stories p-0">
                            <img th:src="${story.image.main}" alt="stories" class="round-image">
                        </div>
                        <div class="stories-name">
                            <div class="profile">
                                <div class="profile-name">
                                    <p th:text="${story.authorName}"></p>
                                    <a href="#"  th:text="${story.header}"></a>
                                </div>
                            </div>
                            <div class="more-info-stories">
                                <a th:attr="onclick=|openStories('${story.id}')|" class="storiesModalOpen">Смотреть</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="stories stories_description">
                        <div class="content-stories">
                            <h5 th:text="${story.header}"></h5>
                            <p th:utext="${story.description}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pagination_wrapper mt-50 ">
                <div class="col-md-12 col-lg-4 pagination_container ">
                    <nav aria-label="...">
                        <ul class="pagination pagination-lg pagination-sm">
                            <li class="page-item active"><a class="page-link" href="?page=1">1</a></li>
                            <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                            <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--Модаль Истории-->
    <div class="modal fade" id="modalStories" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="storiesTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe id="story-video-frame" width="100%" height="430px"
                            src=""
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal consult -->
    <div class="modal fade" id="modalConsult" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Получить консультацию</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="formConsult" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Имя</label>
                            <input name="firstName" type="text" class="form-control" id="name" placeholder="Имя">
                        </div>
                        <div class="form-group">
                            <label for="surname">Фамилия</label>
                            <input name="lastName" type="text" class="form-control" id="surname" placeholder="Фамилия">

                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="tel">Телефон</label>
                            <input name="phone" type="number" class="form-control" id="tel" placeholder="+375291000000">
                        </div>
                        <div class="form-group custom-control custom-checkbox">
                            <input name="student" type="checkbox" class="custom-control-input" id="studentStep">
                            <label class="custom-control-label" for="studentStep">Вы студент Академии ШАГ?</label>
                        </div>
                        <div class="form-group">
                            <input name="group" type="text" class="form-control display_none" id="numberGroup" placeholder="Номер группы">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Комментарии</label>
                            <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputStateDay">Выберите удобный для Вас день недели </label>
                            <select name="assignedAtDay" id="inputStateDay" class="form-control">
                                <option selected value="Выберите день">Выберите день</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputStateTime">Выберите  удобное для Вас время </label>
                            <select name="assignedAtTime" id="inputStateTime" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit" class="btn myBtn">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<div class="container-fluid footer-wrapper">
    <div class="container">
        <footer class="footer">
            <div class="row">
                <div class="col-md-8 col-lg-8 text">
                    <p>© 1999-2019 Компьютерная Академия ШАГ - лидер в сфере профессионального компьютерного образования</p>
                </div>
                <div class="col-md-4 col-lg-4 social-footer">
                    <a href="#"><i class="social-icon facebook"></i></a>
                    <a href="#"><i class="social-icon youtube"></i></a>
                    <a href="#"><i class="social-icon vk"></i></a>
                    <a href="#"><i class="social-icon telegram"></i></a>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>-->
<script th:src="@{/js/script.js}"></script>
</body>
</html>